* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(45deg, red, blue);
}

.container {
    width: 400px;
    margin: 20px auto;
    padding: 10px 0;
    background: white;
    border-radius: 6px;
}

form {
    border-bottom: 1px solid black;
    padding: 10px 20px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

form input {
    font-size: 24px;
    width: 100%;
    margin-right: 15px;
    border: none;
    outline: none;
}

form button {
    background-color: red;
    padding: 5px 15px;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.todos {
    list-style: none;
}

.todos li {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    font-size: 15px;
}

li span {
    width: 80%;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

li i {
    cursor: pointer;
}

li.completed {
    color: #aaa;
    
}

li.completed span {
    text-decoration: line-through;
}